@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#F3F6FF] text-dark;
  }

  :root {
    --dark: #000000;
    --white: #ffffff;
    --gray: #7a7a7a;
    --purple: #6523e9;
    --blue: #3f5aff;
    --background: #f3f6ff;
    --red: #cc1f59;
  }
}
