@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#F3F6FF] text-dark;
  }

  :root {
    --dark: #000000;
    --white: #FFFFFF;
    --gray: #7A7A7A;
    --purple: #6523E9;
    --blue: #3F5AFF;
    --background: #F3F6FF;
    --red: #cc1f59;
  }
}
